.header {
    background: #fff;
    padding: 20px;
    position: relative;
    text-align: center;

    &__logo {
        background: #003366;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        color: #ffffff;
    }
}
