@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.page {
  background: #efefef;
  padding: 20px;
  text-align: center;
  @include clearfix;

  &__container {
    background: #efefef;
    box-sizing: border-box;
    float: left;
    padding: 40px 20px;
    width: 75%;
  }

  &__content {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-left: 10px;
  }
}

// Main
