@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.page {
  background: #F5F0E8;
  box-shadow: 0 10px 50px -20px #000,0 5px 15px -10px #000;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  @include clearfix;

  &__container {
    box-sizing: border-box;
    padding: 40px 20px;
  }

  &__content {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-left: 10px;
  }
}

// Main
