.footer {
    background: #fff;
    padding: 20px;
    position: relative;

    &__logo {
        background: #efefef;
        padding: 20px;
        position: absolute;
        top: 0;
        right: 0;
        color: #000;
    }
}
